body {
	-webkit-filter: blur(.5px);
	-moz-filter: blur(.5px);
	-o-filter: blur(.5px);
	-ms-filter: blur(.5px);
	filter: blur(.5px);
	width: 100%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	background-color: black;
}


/* INTRO QUOTES */
.Quote {
	height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    /*display: table;
    -webkit-filter: blur(.5px);
	-moz-filter: blur(.5px);
	-o-filter: blur(.5px);
	-ms-filter: blur(.5px);
	filter: blur(.5px);*/
}

	.Quote-container {
		/*display: table-cell;
		text-align: center;
		vertical-align: middle;*/
		top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
position: absolute;
	}

	.Quote-text {
		color: #ffffff;
	}
	.Quote-text--title {
		font-size: 5em;
		text-transform: uppercase;
	}
	.Quote-text--subtitle {
		font-size: 2em;
		line-height: 0;
	}
	.Quote-text--author {
		font-size: 1.5em;
	}


/* BUTTON */

.Button {
	border: solid 1px rgba(255, 255, 255, 1);
	color: #fff;
	display: block;
	font-size: 1.5em;
	padding: 10px;
	width: 20%;
	margin: 0 auto;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.Button:hover {
	background-color: rgba(0, 0, 0, .7);
	border: solid 1px rgba(255, 255, 255, .5);
	color: #fff;
}
.Button--quote {
	opacity: 0;
}



/* REPLAY */

.Replay {
	display: none;
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
}

	.Replay-wrapper {
		display: table;
		width: 100%;
		height: 100%;
	}
	.Replay-container {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}

.Replay-logo {
	margin: 0 auto;
	display: block;
	opacity: 0;
}

.Button--replay {
	opacity: 0;
}


/* Music text DNA */
.MusicText {
	color: #fff;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-transform: uppercase;
	font-size: 3em;
}

.Text {
	opacity: 0;
}

